
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    
    font-family: 'Fira Sans', sans-serif;
}

.app {
    --mainColor: #c83e3b;
    --accentColor1: #ffb6b4;
    --accentColor2: #f3d7a0;
    --backgroundColor: #ffffff;
    --textColor: #753333;
    --shadowColor: #0008;
    --doneOpacity: 80%;

    min-height: 100vh;
    background-color: var(--backgroundColor);
}

.button {
    border: 2px solid var(--accentColor2);
    background-color: var(--backgroundColor);
    border-radius: 10px;
    padding: 10px;
    color: var(--textColor);
    transition: background-color 0.2s;
}

.button:active {
    background-color: var(--accentColor1);
}

p {
    color: var(--textColor);
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


button, button:active {
    background-color: #0000;
    outline: 0;
    font-size: 120%;
    margin: 10px;
}

.popupContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--shadowColor);
    color: var(--mainColor);
    z-index: 300;
}

.popupWindow {
    border: none;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    overflow-y: scroll;

    border-radius: 10px;
    border: 2px solid var(--accentColor2);
}