
html, body {
    padding: 0px;
    margin: 0px;
    
}

.app {
    --mainColor: #c83e3b;
    --accentColor1: #ffb6b4;
    --accentColor2: #f3d7a0;
    --backgroundColor: #ffffff;
    --textColor: #753333;
    --shadowColor: #0008;
    --doneBrightness: 80%;

    background-color: var(--backgroundColor);
    min-height: 100vh;
}

.button {
    border: 2px solid var(--accentColor2);
    background-color: var(--backgroundColor);
    border-radius: 10px;
    padding: 10px;
    color: var(--textColor);
    transition: background-color 0.2s;
}

.button:active {
    background-color: var(--accentColor1);
}

.loadingContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


button, button:active {
    background-color: #0000;
    outline: 0;
    font-size: 120%;
}